:root {
  --board-bg-color: #6f7887;
  --board-border-color: #525f7a;
  --board-border-width: 50px;
  --board-witdh: 1000px;
  --checker-bg-dark: black;
  --checker-bg-light: white;
  --divider-width: 50px;
  --divider-color: var(--board-border-color);
  --highlight-color: #ffbf00;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.board {
  position: relative;
  display: flex;
  width: var(--board-witdh);
  aspect-ratio: 2/1;
  background-color: var(--board-bg-color);
  border: var(--board-border-width) solid var(--board-border-color);
  flex-wrap: wrap;
}
.hits-wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.dice-wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 50%;
  color: white;
  z-index: 999;
}
.dice-wrapper.left {
  right: 25%;
  transform: translate(50%, -50%);
}
.dice-wrapper.right {
  left: 10%;
  transform: translate(50%, -50%);
}
.dice-wrapper button {
  scale: 0.5;
}

.column {
  position: relative;
  width: calc(calc(100% - var(--divider-width)) / 12);
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.column::before {
  content: attr(col-index);
  position: absolute;
}
.column::after {
  position: absolute;
  width: 5px;
  height: 100%;
}

.column.highlight {
  background-color: var(--highlight-color);
}

.divider {
  width: var(--divider-width);
  background-color: var(--divider-color);
}

.up {
  justify-content: flex-end;
  flex-direction: column-reverse;
}

.down {
  justify-content: flex-end;
}

.checker {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
}
.checker-dark {
  background-color: var(--checker-bg-dark);
}
.checker-light {
  background-color: var(--checker-bg-light);
}
